<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xokundevs.cardsvshumanity">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.xokundevs.cardsvshumanity.actiPartida.PartidaEscogeCartasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiPartida.PrePartidaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiPartida.Partida"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiBarajas.EditarBaraja"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiPartida.UnirsePartida"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiPartida.CrearPartida"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiBarajas.Barajas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiPartida.SegundaVentana"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiLogReg.Registre"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xokundevs.cardsvshumanity.actiLogReg.Login"
            android:screenOrientation="portrait" />
    </application>

</manifest>